@use "../../sass/abstracts/" as *;
// header
.header {
    position: relative;
    @include backgroundHeader;
}
// price-plan
.price-plan {
  h1 {
    margin-block: $price-plan-margin-block-mobile;
    @include mq(medium) {
      margin-block: $price-plan-margin-block-desktop;
    }
    @include mq(large) {
      text-align: left;
    }
  }
}


