@use "../../sass/abstracts/" as *;
.container {
  text-align: center;
}

.card{
    p{
        margin-block: $price-plan-card-text-margin;
       

        @include mq(medium, max){
          margin-inline: auto;
          max-width: 35ch;
        }
    }
}


.list {
  display: grid;
  justify-content: center;
  gap: $price-plan-list-gap;
  border-block: $price-plan-list-border;
  padding-block: $price-plan-list-padding;
  margin-block: $price-plan-list-margin;

  &-item {
    display: flex;
    align-items: center;
    gap: $price-plan-list-item-gap;
    color: $price-plan-list-item-color;
    font-size: $price-plan-list-item-font-size;

    &[datatype="disabled"] {
      opacity: $price-plan-list-item-disabled-opacity;

      svg {
        visibility: hidden;
      }
    }
  }
}

@include mq(large) {
  .container {
    text-align: left;
  }

  .list {
    justify-content: start;
  }

  .card {
    display: grid;
    a {
      justify-self: start;
    }
  }
}
